.navbar li a:hover,
a:hover,
body {
  color: #18181b !important
}

.hero,
.hero-text {
  height: calc(100vh - 87px)
}

.hero-text a:hover,
footer ul li a:hover {
  color: #fff !important
}

.header,
.mobile-nav-toggle,
.navbar a,
.navbar a:focus,
a {
  transition: .3s ease-in-out
}

*,
:after,
:before {
  box-sizing: border-box
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0
}

body {
  font-family: Outfit, sans-serif !important
}

a {
  color: inherit !important;
  text-decoration: none !important
}

img {
  -webkit-user-drag: none
}

.divider {
  border-color: #b8b8b8 !important;
  margin: auto
}

.header {
  padding: 27px 0 15px
}

.navbar ul {
  gap: 2rem
}

.navbar .active {
  border-bottom: 2px solid #000
}

.navbar-brand {
  font-size: 30px !important;
  font-family: Eurofighter, sans-serif
}

.hero-text {
  min-height: 550px
}

.hero-text h1 {
  width: 65%;
  margin-bottom: 18px
}

.hero-text p {
  width: 700px;
  margin-bottom: 35px !important;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #57534e
}

.section-bg .section-title p,
.section-title p {
  margin: auto auto 40px;
  max-width: 635px
}

.hero-text a {
  background: #18181b;
  border-radius: 32px;
  padding: 15px 25px;
  transition: .2s ease-in-out
}

.blog-content h2,
.section-bg {
  background: linear-gradient(0deg, rgba(24, 24, 27, .91), rgba(24, 24, 27, .91))
}

.hero-text a:hover {
  background-color: #18181b
}

footer ul li i {
  padding-right: 10px;
  font-size: 18px
}

section {
  padding: 60px 0
}

.section-title {
  padding-bottom: 30px
}

.section-title h2 {
  font-size: 32px;
  color: #18181b
}

.section-title p {
  color: #939393
}

.mobile-nav-toggle {
  color: #18181b;
  font-size: 40px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transform: rotate(0)
}

.mobile-nav {
  display: none
}

.section-bg .section-title h2 {
  font-size: 32px
}

.about {
  color: #57534e
}

.project-card {
  margin-top: 90px !important
}

.project-card:nth-child(odd) {
  flex-direction: row-reverse
}

.project-card:nth-child(odd) .project-image {
  grid-area: 1/6/-1/-1;
  position: relative;
  z-index: 1
}

.project-card h3:first-child {
  font-size: .875rem;
  line-height: 1.25rem;
  letter-spacing: .1em;
  color: #a8a29e
}

.project-card h3 {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.blog-content h2,
.project-card a {
  font-size: 1.5rem
}

.project-card .tools p {
  color: #78716c
}

.project-card a:hover {
  color: #78716c !important
}

.project-card a:last-child {
  margin-left: 16px
}

.project-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://via.placeholder.com/356x236);
  grid-area: 1/1/-1/8
}

.subscription {
  padding-bottom: 120px
}

.blog-content span span::before {
  display: inline-block;
  margin: 0 .5rem .2rem;
  content: "";
  font-size: 1rem;
  line-height: .5rem;
  padding: 2px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: currentColor
}

.blog-card img {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  height: 223px;
  object-fit: cover;
}

.blog-content h2 {
  background-clip: text;
  -webkit-text-fill-color: transparent
}

.blog-content {
  padding: 1.25rem 1.5rem !important
}

.blog-card {
  box-shadow: rgba(149, 157, 165, .2) 0 8px 24px;
  border-radius: 18px
}

.blog, .work {
  padding-top: 30px;
  padding-bottom: 90px;
}