@media only screen and (max-width: 768px) {
  .hero-text h1 {
    font-size: 3rem;
  }

  .hero-text h4 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 480px) {
  .hero-text h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .hero-text h4 {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
    transition: 0.3s ease-in-out;
  }

  .navbar ul {
    display: none !important;
  }

  .hero-text p {
    margin-bottom: 30px;
    width: 80%;
  }

  .header {
    padding: 15px 20px !important;
  }

  .hero-text h1:nth-child(2) {
    background: 0 0 !important;
    color: #000 !important;
  }

  .hero {
    margin: 0 1rem 25px;
  }

  section {
    padding: 60px 30px;
  }

  .mobile-nav {
    position: fixed;
    top: 75px;
    right: 0;
    background-color: #fff;
    width: 100%;
    text-align: center;
    z-index: 999;
    height: 100%;
    border-top: 1px solid #eee;
    transform: translate(0, 9999px);
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: block;
  }

  .mobile-nav ul {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
  }

  .mobile-nav li {
    display: block;
    padding: 1rem 0;
    border-bottom: 1px solid #eee;
  }

  .mobile-nav a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    justify-content: center !important;
  }

  .mobile-nav .active {
    color: #18181b !important;
  }

  .mobile-nav-show {
    transform: translate(0, 0);
  }

  .project-card {
    margin-top: 50px !important;
  }
  .project-image {
    height: 200px !important;
  }
}
